<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg" onload="init(evt,<% offset %>)" width="<% width %>" height="<% height %>">
	<script type="text/ecmascript" xlink:href="/symbols"></script>
	<script type="text/ecmascript" xlink:href="/include"></script>

	<defs id="templates"/>
   
    <script>	    	
	   <% FOR m IN maps %>       
          new Symbols().use("<% m.name %>","translate(<% m.translate %>)");         
       <% END %>
	</script>
</svg> 
 

