<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
	
  <% IF id %><a href="/<% back %>/<% id %>"><% svg %></a> <% ELSE %><a href="/<% back %>"><% svg %></a><% END %>		
   
  </div>
  <hr>

  <div class="footer">
    <p>&copy; 5deen.com 2013</p>
    <p>Michael Kuegeler</p>
  </div>

</div> <!-- /container -->
