<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">	
  <a href="/<% back %>"><% svg %></a>  
  </div>
  <hr>

  <div class="footer">
    <p>&copy; 5deen.com 2013</p>
    <p>Michael Kuegeler</p>
  </div>

</div> <!-- /container -->
