/**
 * include.js

 * Initialize and configure symbol instances
   Requirement: symbols.js, symbols.json
 * 
 */
///////////////////////////////////////////////////////////////////////////////
function init (evt) {

<% FOR s IN symbols %>
<% FOR n IN s.symbol %>
new Symbols().<% n.function %>("<% n.name %>",<% n.radius %><% FOR t IN n.styles %>,"<% t.style %>"<% END %>);
<% END %>
<% END %>

}
///////////////////////////////////////////////////////////////////////////////
